* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('../images/hand-painted-watercolor-background-with-sky-clouds-shape.jpg');
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
}

.header {
    background-color: #7aa4b8;
    color: White;
    padding: 2em 0;
    text-align: center;
}

h2 {
    margin: 40px 0 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 2.5em;
    color: #0a5f40;
}

.timeline {
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    width: 4px;
    height: 100%;
    background: #333;
}

.timeline-item {
    display: flex;
    margin-bottom: 20px;
}

.timeline-content {
    transition: all 0.3s ease-in-out;
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
.timeline-content:hover {
    transform: scale(1.10); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
} 
.timeline-content::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
    left: -60px;
    top: 10px;
}

.timeline-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.timeline-content p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.dropdown {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #7aa4b8;
    overflow-y: hidden;
    transition: 0.5s;
}

.dropdown-lists {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.dropdown a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: #095037;
    display: block;
}

.dropdown a:hover, .dropdown a:focus {
    color: whitesmoke;
}

.hamburger {
    position: absolute;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.skills-list {
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
/* li {
    transition: all 0.3s ease-in-out;

}
li:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
} */
.skills-list li {
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #7aa4b8;
    color: white;
    border-radius: 5px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.project-card {
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
    text-align: center;
}


.project-header {
    background-color: #7aa4b8;
    padding: 1em;
    border-radius: 8px 8px 0 0;
    color: white;
}

.project-card h4 {
    margin-bottom: 15px;
}

.project-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.project-button {
    padding: 10px 20px;
    background-color: #7aa4b8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-button:hover {
    background-color: #568e96;
}

.footer {
    text-align: center;
    padding: 2em 0;
    background-color: #333;
    color: white;
}
