/* Common Styles */
:root{
    --font-color: #555;
    --font-hover-color:orange;
}

html, body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../images/hand-painted-watercolor-background-with-sky-clouds-shape.jpg');
    background-size: cover;
}

.dropdown{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #7aa4b8;
    overflow-y: hidden;
    transition: 0.5s;
}

.dropdown-lists{
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}

.dropdown a{
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: #095037;
    display: block;
}

.dropdown a:hover, .dropdown a:focus {
    color: whitesmoke;
}


.hamburger {
    position: absolute;
    color: lightslategray;
    font-size: 40px;
    cursor: pointer;
}

.front {
    background-size: cover;
    height: 740px;
    width: 100%;
}

h1, h2, h4 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 1%;
    color: lightslategray;
    text-align: center;
    font-size: 65px;
}

h2 {
    text-align: center;
    color: lightslategray;
    font-size: 35px;
    padding-bottom: 10%;
}

.header-text {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
    padding-top: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.3em;
    background-color: transparent;
}
.mission-section {
    text-align: center;
    padding: 60px 20px;
    margin: 25% auto;
}


.mission-statement {
    font-size: 2.5em;
    line-height: 1.6em;
    color: #666;
    margin: 0 auto;
}


.social-buttons {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 2em;
    padding: 30px 40px;
    margin: 10% auto;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
}


.card {
    transition: all 0.3s ease-in-out;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; 
    margin: 20px; 
}

.card-title {
    color: darkgreen; 
    margin-top: 20px; 
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-size: 14px;
    color: #555; 
    margin: 10px 0; 
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.my-5{
    padding-top:350px;
    margin: 0 auto;

}
.btn i {
    margin-right: 10px;
}

.github {
    background-color: #333;
}

.github:hover {
    background-color: #6e5494;
}

.linkedin {
    background-color: #0e76a8;
}

.linkedin:hover {
    background-color: #333;
}

.email {
    background-color: #d44638;
}

.email:hover {
    background-color: #333;
}


@media screen and (max-width: 480px) {
    /* Styles for phones */
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    .dropdown a {
        font-size: 2.5em;
    }

    .hamburger {
        font-size: 3.2em;
    }

    .mission-statement {
        font-size: 1.5em;
        line-height: 1.6em;
        color: #666;
        margin: auto auto;
    }

    .btn {
        display: center;
        align-items: center;
        justify-content: center;
        background-color: #333;
        border: none;
        border-radius: 30px;
        color: #fff;
        font-size: 1em;
        text-decoration: none;
        transition: background-color 0.3s ease;
        padding: 30px 40px;
        margin: 15% auto;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    .dropdown a {
        font-size: 2.5em;
    }

    .hamburger {
        font-size: 4.2em;
    }

    .mission-statement {
        font-size: 1.5em;
        line-height: 1.6em;
        color: #666;
        margin: auto auto;
    }

    .btn {
        display: center;
        align-items: center;
        justify-content: center;
        background-color: #333;
        border: none;
        border-radius: 30px;
        color: #fff;
        font-size: 1em;
        text-decoration: none;
        transition: background-color 0.3s ease;
        padding: 30px 40px;
        margin: 15% auto;
    }
}