:root{
    --font-color: #555;
    --font-hover-color:orange;

}
html, body{
    margin:0;
    background-image: url('./hand-painted-watercolor-background-with-sky-clouds-shape.jpg');
    background-size:cover;
    height: 100vh;
}   

body {
    display: flex;
    justify-content: center;   
    align-items: center;
}


.dropdown{
   height: 0%;
   width: 100%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #7aa4b8;
   overflow-y: hidden;
   transition: 0.5s;
}

.dropdown-lists{
   position: relative;
   top: 25%;
   width: 100%;
   text-align: center;
   margin-top: 30px;

}

.dropdown a{
   padding: 8px;
   text-decoration: none;
   font-size: 50px;
   color: #095037;
   display: block;
}

.dropdown a:hover, .dropdown a:focus {
   color: whitesmoke;
}

.hamburger {
   color: lightslategray;
   left: 10px;
   top: 20px; 
   font-size: 30px;
   cursor: pointer;
   position: absolute;
   float: left;
}

.header-text {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.container {
    width: 500px;
    display: flex;
    flex-direction: column; /* Items inside the container will stack vertically */
    justify-content: center;  
    align-items: center; /* Center items horizontally */
    padding: 2.3em;
    background-color: transparent;
}

.social-buttons {
    display: flex;
    justify-content: center; /* adds space between buttons */
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 2em;
    padding: 15px 30px;
    margin: 40px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn i {
    margin-right: 10px;
}

.btn:hover {
    background-color: #483d8b; /* change background color on hover */
    color: #fff;
}

.github {
    background-color: #333;
}

.github:hover {
    background-color: #6e5494;
}

.linkedin {
    background-color: #0e76a8;
}

.linkedin:hover {
    background-color: #333;
}

.email {
    background-color: #d44638;
}

.email:hover {
    background-color: #333;
}
